<g-load *ngIf="isLoad"></g-load>
<nz-breadcrumb>
  <nz-breadcrumb-item>系统管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>用户管理</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-layout>
  <nz-row nzAlign="middle" class="h-16 ml-2">
    <form nz-form nzLayout="inline">
      <nz-form-item class="w-32">
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input placeholder="用户名" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" nzSize="small"><i nz-icon nzType="search"></i>查询</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" nzGhost nzSize="small"><i nz-icon nzType="plus"></i>新增</button>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="default" nzSize="small"><i nz-icon nzType="left"></i>返回</button>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </nz-row>
  <nz-content>
    <nz-table #basicTable [nzShowPagination]="false" [nzData]="dataList">
      <thead>
        <tr>
          <th>名称</th>
          <th>电话</th>
          <th>邮箱</th>
          <th>角色</th>
          <th>状态</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.username }}</td>
          <td>{{ data.mobile }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.role_id }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.add_time }}</td>
          <td>
            <button nz-button nzType="primary" nzSize="small" nzGhost>修改</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="default" nzSize="small" nzDanger>删除</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>